@import "tailwindcss";

@theme {
  --font-display: "DM Sans", sans-serif;
  --font-body: "DM Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
